:root {
  /* Fonts */
  --heading-font: "Open Sans", sans-serif;
  --body-font: "Poppins", sans-serif;

  /* Colors */
  /* https://coolors.co/003060-e55b13-f8c625-a47551-e9dccb */
  /* CSS HEX */
  /* CSS HEX */
  --prussian-blue: #003060ff;
  --persimmon: #e55b13ff;
  --saffron: #f8c625ff;
  --cafe-au-lait: #a47551ff;
  --almond: #e9dccbff;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
  font-weight: 600;
}
